@charset "UTF-8";
/* CSS Document */
	<style>
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #7CACAC;
  border-radius: 50%;
  border-top: 16px solid #0FFEFE;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#myDiv {
  display: none;
  text-align: center;
}
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.bgimg {
    /* Background image */
    background-image: url('');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: black;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
	color: white;
}

/* Position text in the bottom-left corner */
.bottomright {
    position: absolute;
    bottom: 0;
    right: 160px;
	color: white;
	
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	color: white;
}

/* Style the <hr> element */
hr {
	margin: auto;
    width: 40%;
	color:white;
	
}

/*FONT*/
.MACHINA {
	font-family: 'Old Times American Titling W00' ;
	text-decoration: none;
	text-decoration-color: grey;
	color: #FEFEFE;
	
}
.hgh  {
	
	font-family: "broken15";
	color: #FEFEFE;
}

@font-face
{
 font-family: 'Old Times American Titling W00' ;
 src: url(' Old Times American Titling W00.eot');
}

@font-face
{
 font-family: 'Old Times American Titling W00';
 src: url(' Old Times American Titling W00.ttf');
}

@font-face
{
 font-family: 'broken15';
 src: url('  broken15-webfont.eot');
}

@font-face
{
 font-family: 'broken15';
 src: url(' BROKEN15.TTF');
}
