#page-structure {
  height: 100vh;
}

.header-text h2, .header-text h1 {
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"!important;
  font-weight: 70vw !important;
}

.img-svgh:hover {
	filter: blur(1px);
}
.img-svgh{

}
.img-svg {
  animation: infinite;
  animation-timing-function:ease-in-out;
  animation-name: changehue;
  animation-duration: 4.6s;
-webkit-filter: hue-rotate(0deg); /* Safari 6.0 - 9.0 */
 filter: hue-rotate(0deg) ;
}
@-webkit-keyframes  changehue {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(360deg);}
}
@keyframes changehue {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(360deg);}
}


