#page-structure {
  height: 100vh;
}

.header-text h2, .header-text h1 {
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"!important;
  font-weight: 70vw !important;
}