@font-face {
	font-family: 'Old Times American W00 Italic';
	src: url('Old Times American W00 Italic.eot');
	src: url('Old Times American W00 Italic.eot?#iefix') format('embedded-opentype'),
		url('Old Times American W00 Italic.woff') format('woff'),
		url('Old Times American W00 Italic.ttf') format('truetype'),
		url('Old Times American W00 Italic.svg') format('svg');
}