@font-face {
	font-family: 'Old Times American W00 Heavy It';
	src: url('Old Times American W00 Heavy It.eot');
	src: url('Old Times American W00 Heavy It.eot?#iefix') format('embedded-opentype'),
		url('Old Times American W00 Heavy It.woff') format('woff'),
		url('Old Times American W00 Heavy It.ttf') format('truetype'),
		url('Old Times American W00 Heavy It.svg') format('svg');
}